#header{
    padding: 14px 0 2px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 5;
    height: 50px;
}

a {text-decoration: none;}

.wrapper {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

#footer{
    background: #111 url(https://static.toiimg.com/photo/57270035.cms) repeat;
    padding: 20px 0;
    border-top: 3px solid #be2819;
    position: relative;
    z-index: 98 !important;
}

/* header */

#header .my-home{
    position: absolute;
    left: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 12px 5px 37px;
    color: #999;
    font: normal 12px/18px arial;
    top: 9px;
}
#header .my-home:before {
    content: '';
    position: absolute;
    left: 6px;
    width: 26px;
    height: 20px;
    background-position: -351px -122px;
    background-image: url(https://static.toiimg.com/photo/67487670.cms);
    background-repeat: no-repeat;
    background-size: 500px;
    display: inline-block;
}

#header .prime-logo {
    text-align: center;
}

#header .right-section {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 35px;
}
#header .user-area {
    text-align: right;
    float: right;
    position: relative;
    padding-right: 20px;
}
#header .user-area .user-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    margin-right: 8px;
    background-position: -152px -7px;
    border-radius: 50%;
}
.prime-sprite{
    background-image: url(https://static.toiimg.com//photo/67487670.cms);
    background-repeat: no-repeat;
    background-size: 500px;
}

#header .user-area .user-notloggedin a {
    font-size: 12px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    font-family: arial,sans-serif;
}

/* Footer */

#footer .wrapper {
    max-width: 1295px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
#footer p {
    font-size: 12px;
    line-height: 1.4;
    color: #ccc;
    text-align: center;
}
#footer p a.linkfaq {
    margin-bottom: 1px;
    display: inline-block;
}
#footer p a {
    color: #ccc;
    text-decoration: none;
}
#footer * {
    font-family: proximanova,roboto,arial,sans-serif;
}

/* content */
.clearfix {
    display: block;
}

.news-listing.top-news:not(.small) {
    width: 600px;
    float: left;
}
.news-listing.top-news.small {
    width: 328px;
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
.news-listing ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.news-listing ul li {
    list-style: none;
    margin-bottom: 25px;
}

.secname {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #c33;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.news-listing.top-news:not(.small) li h2 {
    font-size: 28px;
    line-height: 36px;
    max-height: 72px;
}
.news-listing h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #333;
    margin-bottom: 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 72px;
}
.news-listing p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 96px;
    margin-bottom: 12px;
}
p {
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.news-listing p ~ span {
    position: relative;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: gray;
}
.news-listing figure img {
    width: 100%;
    border-radius: inherit;
    border: 1px solid #f9f9f9;
}
.news-listing.top-news:not(.small) figure {
    height: 338px;
}
.news-listing figure {
    width: 100%;
    margin: 0 0 18px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
